<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sandsara.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E1360698A6F494CD27635B03935ED1A155B24A4D</string>
				<key>dateExpires</key>
				<string>21/11/2021</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1360698A6F494CD27635B03935ED1A155B24A4D</string>
						<key>dateExpires</key>
						<string>21/11/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AY63F88W3R</string>
						<key>name</key>
						<string>Matter Collection, LLC.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1360698A6F494CD27635B03935ED1A155B24A4D</string>
						<key>dateExpires</key>
						<string>21/11/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>BetterSegmentedControl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AY63F88W3R</string>
						<key>name</key>
						<string>Matter Collection, LLC.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1360698A6F494CD27635B03935ED1A155B24A4D</string>
						<key>dateExpires</key>
						<string>21/11/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Bluejay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AY63F88W3R</string>
						<key>name</key>
						<string>Matter Collection, LLC.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1360698A6F494CD27635B03935ED1A155B24A4D</string>
						<key>dateExpires</key>
						<string>21/11/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Differentiator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AY63F88W3R</string>
						<key>name</key>
						<string>Matter Collection, LLC.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1360698A6F494CD27635B03935ED1A155B24A4D</string>
						<key>dateExpires</key>
						<string>21/11/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AY63F88W3R</string>
						<key>name</key>
						<string>Matter Collection, LLC.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1360698A6F494CD27635B03935ED1A155B24A4D</string>
						<key>dateExpires</key>
						<string>21/11/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>LNPopupController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AY63F88W3R</string>
						<key>name</key>
						<string>Matter Collection, LLC.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1360698A6F494CD27635B03935ED1A155B24A4D</string>
						<key>dateExpires</key>
						<string>21/11/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Moya.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AY63F88W3R</string>
						<key>name</key>
						<string>Matter Collection, LLC.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1360698A6F494CD27635B03935ED1A155B24A4D</string>
						<key>dateExpires</key>
						<string>21/11/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>NVActivityIndicatorView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AY63F88W3R</string>
						<key>name</key>
						<string>Matter Collection, LLC.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1360698A6F494CD27635B03935ED1A155B24A4D</string>
						<key>dateExpires</key>
						<string>21/11/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AY63F88W3R</string>
						<key>name</key>
						<string>Matter Collection, LLC.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1360698A6F494CD27635B03935ED1A155B24A4D</string>
						<key>dateExpires</key>
						<string>21/11/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Realm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AY63F88W3R</string>
						<key>name</key>
						<string>Matter Collection, LLC.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1360698A6F494CD27635B03935ED1A155B24A4D</string>
						<key>dateExpires</key>
						<string>21/11/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RealmSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AY63F88W3R</string>
						<key>name</key>
						<string>Matter Collection, LLC.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1360698A6F494CD27635B03935ED1A155B24A4D</string>
						<key>dateExpires</key>
						<string>21/11/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Result.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AY63F88W3R</string>
						<key>name</key>
						<string>Matter Collection, LLC.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1360698A6F494CD27635B03935ED1A155B24A4D</string>
						<key>dateExpires</key>
						<string>21/11/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AY63F88W3R</string>
						<key>name</key>
						<string>Matter Collection, LLC.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1360698A6F494CD27635B03935ED1A155B24A4D</string>
						<key>dateExpires</key>
						<string>21/11/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxDataSources.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AY63F88W3R</string>
						<key>name</key>
						<string>Matter Collection, LLC.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1360698A6F494CD27635B03935ED1A155B24A4D</string>
						<key>dateExpires</key>
						<string>21/11/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxReachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AY63F88W3R</string>
						<key>name</key>
						<string>Matter Collection, LLC.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1360698A6F494CD27635B03935ED1A155B24A4D</string>
						<key>dateExpires</key>
						<string>21/11/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxRelay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AY63F88W3R</string>
						<key>name</key>
						<string>Matter Collection, LLC.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1360698A6F494CD27635B03935ED1A155B24A4D</string>
						<key>dateExpires</key>
						<string>21/11/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AY63F88W3R</string>
						<key>name</key>
						<string>Matter Collection, LLC.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1360698A6F494CD27635B03935ED1A155B24A4D</string>
						<key>dateExpires</key>
						<string>21/11/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AY63F88W3R</string>
						<key>name</key>
						<string>Matter Collection, LLC.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1360698A6F494CD27635B03935ED1A155B24A4D</string>
						<key>dateExpires</key>
						<string>21/11/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AY63F88W3R</string>
						<key>name</key>
						<string>Matter Collection, LLC.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>AY63F88W3R.com.ios.sandsara</string>
				<key>com.apple.developer.team-identifier</key>
				<string>AY63F88W3R</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Sandsara.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e94b35a0-7989-4538-bf34-30113e53fdb1</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.ios.sandsara</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>AY63F88W3R</string>
				<key>name</key>
				<string>Matter Collection, LLC.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
